
* {
    padding: 0;
    margin: 0;
    font-family: 'Baloo Tammudu 2', cursive;
}

.jumbotron {
    background-image: url("./background.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
    color: white;
    border-radius: 0px!important;
    padding-top: 80px !important;
    margin-bottom: 0;
}

.jumbotron h1 {
    margin: 30px 0;
    font-size: 30px;
    line-height: 1.5;
}

.intro {
    padding-top: 160px;
}

.navbar {
    padding: 0px!important;
}
.navbar-nav {
    background-color: black;
    border-radius: 0 0 20px 20px;
    padding-bottom: 5px;
}

.navbar-nav a{
    color: white!important;
    text-align: center!important;
    margin: 0 20px;
    margin-top: 10px;
}

.navbar-toggler {
    color: white!important;
    border: none!important;
    outline: none!important;
}

.navbar-toggler .fa {
    color: white;
    font-size: 26px;
}

.nav-link:hover {
    font-weight: 600;
    padding-bottom:0;
    border-bottom: 2px solid white;
}

.photo {
    height: 400px;
    border-radius: 10px;
    margin-bottom: 10px;
}

#home h1 {
    color: white;
    margin: 0px;
    text-align: center!important;
    font-weight: 600;
}

#home h2 {
    color: white;
    font-size: 25.89px;
    border-bottom: 1px solid white;
}

.section-title {
    font-size: 67.77px;
    font-weight: 600;
    margin-top: 40px;
    border-bottom: 2px dashed;
}

#aboutme h1{
    font-weight: 600;
    margin: 20px 0;
}

#aboutme h4{
    font-size: 25.89;
}

#aboutme h5{
    font-size: 20px;
}

#aboutme .details {
    margin-left: 3em;
   
}

#aboutme .details h4 {
    font-weight: 600;
   
}

#education .school {
    width: 100px;
    vertical-align: middle;
}

#contact {
    background-color: black;
}

#contact .section-title {
    padding-top: 50px;
    color: white;
}

#secret {
 margin-top: 80px;
}

.logo {
    width: 100px;
    padding: 40px 20px;
}

.logo_ig {
    width: 133px;
    padding: 40px 20px;
}

.logo_gmail {
    width: 136.46px;
    padding: 40px 20px;
}
@media only screen and (max-width: 1000px) {
    .navbar {
        background-color: black!important;
        border-radius: 0 0 20px 20px;
    }

    .navbar-nav a {
        margin: 0px 5px 0px 17px;
        margin-top: 30px;
    }
    .jumbotron {
        padding-top: 50px!important;
    }
}

@media only screen and (max-width: 800px) {
    .section-title {
        text-align: center!important;
    }

    #education .details {
        text-align: center;
        margin-top: 3em;
    }
}