{% extends "base.html" %}
{% block title %}My Activity{% endblock %}

{% block content %}
<section class="container-fluid d-flex flex-wrap align-content-center mt-5">
	<div class="section-title mx-auto text-center mt-5"> 
			Activity List
	  <a href="{% url 'Story6:addActivity' %}" class="text-white">
		<button class="btn btn-primary d-flex mx-auto my-2 click">
			Add Activity
		</button>
	  </a>
	</div>

	<div class="row w-100 justify-content-center">
		{% for activity in activities %}
			<div class="col-4 m-4 p-4 rounded border">
				<ul class="list-group">
				  <li class="list-group-item list-group-item-secondary"> <b> {{ activity.name }} </b> </li>

			      {% for member in members %}
				    {% if member.activity == activity%}
					  	<form method="POST" action="{% url 'Story6:activityList' %}">
					    {% csrf_token %}
					    <input name="id" value="{{member.id}}" type="hidden">
				  		<li class="list-group-item"> 
				  			<div class="d-flex justify-content-between"> 
				  				{{ member.member_name }} 
					          <button type="submit" value="Submit" class="btn btn-primary" style="font-size: 0.8rem;"> 
					          x
					           </button>
					        </form>
				  			</div>
				  		</li>
				    {% endif %}
			      {% endfor %}
				</ul>

				<div class="section-title mx-auto text-center"> 
				  <a href="addMember/{{ activity.id }}" class="text-white">
					<button class="btn btn-primary d-flex mx-auto my-2 click">
					  	Add Member
					</button>
				  </a>
				</div>
			</div>
		{% endfor %}
	</div>

</section>

{% endblock %}