{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static%}
{% block title %}Add Activity{% endblock %}

{% block content %}
<section class="container-fluid d-flex flex-wrap align-content-center ">
	<div class="section-title mx-auto text-center p-5"> 
		Add Activity
	</div>

	<form action="" method="post" novalidate>
		{% csrf_token %}
		<table class="table mx-5" style="width:90vw">
			{{ form|crispy }}
			<tr>
				<td>&nbsp;</td>
				<td><input type="submit" value="Submit" class="btn btn-primary click"></td>
			</tr>
		</table>
	</form>

</section>

{% endblock %}