<!DOCTYPE html>

<html lang="en">
{% load static %}
<head>    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'Story1/style.css' %}">
    <title>{% block title%}{% endblock %}</title>
</head>
<body>
    {% block content %}
    {% endblock %}
</body>
</html>