{% extends "./base.html" %}
{% load static %}

{% block title %} Profil page {% endblock %}

{% block content %}
<img src= "{% static 'Story1/FOTO.jpg' %}" alt="Foto Profil"> <br>
<br>
<h2>NAMA:</h2>
<p>Muhammad Haikal Ubaidillah Susanto</p><br>
<br>
<h2>NPM:</h2>
<p>1906350805</p><br>
<br>
<h2>Angkatan:</h2>
<p>2019</p><br>
<br>
<h2>Hobi:</h2>
<p>Playing games and do some coding</p><br>
<br>
<h2>Tempat Kuliah:</h2>
<p>Universitas Indonesia</p><br>
<br>
<h2>Riwayat Pendidikan</h2>
<ul>
    <li>Universitas Indonesia (2019-Sekarang)</li>
    <li>SMA Negeri 68 Jakarta (2016-2019)</li>
    <li>SMP Negeri 216 Jakarta (2013-2017)</li>
</ul>
<br>
<h2>About Me: </h2>
<p>I'm a sophomore computer science student in University of Indonesia. I like to do things in order, one at a time. I do like playing games, especially when it's a strategy games, but i dont like chess.
     In my spare time, i usually read book, whatever it is as long it is not prohibited by law.  </p><br>
<br>

<div class="contact">
    <h2>Contact Me</h2>
    <div class="logo_container">
        <a href="https://line.me/R/ti/p/sabertrone"><img src="{% static 'Story1/LINE_SOCIAL_Basic.png' %}" alt="Line"></a>
    <a href="https://www.instagram.com/haikalsusanto/"><img src="{% static 'Story1/Instagram.svg'%}" alt="Instagram"></a>
    </div>
</div>

{% endblock %}