{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Add Course{% endblock %}

{% block content %}
<section class="container-fluid d-flex flex-wrap align-content-center ">
    {% if submitted %}
    <div class="p-5 col-12 text-center">
		Success
	</div>

	<button class="btn btn-primary d-flex m-auto click"> 
		<a href="{% url 'Story5:courseList' %}" class="text-white">
			Course List
		</a>
	</button>

    {% else %}
    <div class="section-title mx-auto text-center p-5"> 
		Add New Course
	</div>
    <form action="" method="post" novalidate>
		{% csrf_token %}
		<table class="table mx-5" style="width:90vw">
			{{ form|crispy }}
			<tr>
				<td>&nbsp;</td>
				<td><input type="submit" value="Submit" class="btn btn-primary click"></td>
			</tr>
		</table>
    </form>
    
    {% endif %}
</section>
{% endblock %}