{% extends "base.html" %}
{% block title %}{{ course.subject }} Details{% endblock %}

{% block content %}
<section class="container-fluid d-flex flex-wrap align-content-center ">
    <div class="section-title m-auto text-center p-5"> 
        {{ course.subject }}
    </div>
    <table class="table table-bordered mx-5" style="width:90vw">
    <tbody>
        <tr>
            <td> <b> Lecturer </b> </td>
            <td> {{ course.lecturer }} </td>
        </tr>
        <tr>
            <td> <b> Credit </b> </td>
            <td> {{ course.credit }} </td>
        </tr>
        <tr>
            <td> <b> Term </b> </td>
            <td> {{ course.term }} </td>
        </tr>
        <tr>
            <td> <b> Classroom </b> </td>
            <td> {{ course.class_room }} </td>
        </tr>
        <tr>
            <td> <b> Description </b> </td>
            <td> {{ course.description }} </td>
        </tr>
    </tbody>
  </table>

  <button class="btn btn-primary d-flex m-auto click"> 
    <a href="{% url 'Story5:courseList' %}" class="text-white">
        Back to Subject List
    </a>
  </button>
  </section>>

{% endblock %}