{% extends "base.html" %}
{% block title %}My Courses{% endblock %}

{% block content %}
<section class="container-fluid d-flex flex-wrap align-content-center ">
	<div class="section-title mx-auto text-center p-5"> 
			Course List
	</div>
	<table class="table table-bordered mx-5" style="width:90vw">
	  <thead class="thead-light text-center">
	    <tr>
	      <th>Course</th>
	      <th>Lecturer</th>
	      <th>Credits</th>
	      <th>Delete</th>
	    </tr>
	  </thead>
		<tbody>
		    {% for course in list_course %}
			<tr>
				<td> <a href="coursedetails/{{ course.id }}">{{ course.subject }} </a> </td>
				<td> {{ course.lecturer }} </td>
				<td class="text-center"> {{ course.credit }} </td>
				<td class="text-center"> 
					<form method="POST" action="{% url 'Story5:courseList' %}">
			          {% csrf_token %}
			          <input name="id" value="{{course.id}}" type="hidden">
			          <button type="submit" value="Submit" class="btn btn-primary mx-auto mt-2" style="font-size: 0.8rem;">Delete</button>
			        </form>
				</td>
			</tr>
		    {% endfor %}
		</tbody>
	</table>

	<button class="btn btn-primary d-flex m-auto click"> 
		<a href="{% url 'Story5:addCourse' %}" class="text-white">
			Add Course
		</a>
	</button>
</section>

{% endblock %}