{% extends "base.html" %}

{% load static %}
{% block title %}
Landing Page
{% endblock %}

{% block content %}
<main>
    <section id="home">
        <div class="jumbotron text-center">
            <div class="d-flex flex-column align-items-center mx-auto justify-content-center" >
                <div class="p-2 bd-highlight">
                    <img class="photo" src="{% static 'foto_profil.jpg'%}" alt="foto_profil">
                </div>
                <div class="p-2 bd-highlight">
                    <h2> Hello, I'm</h2>
                    <h1> HAIKAL SUSANTO</h1>
                </div>
            </div>
        </div>
    </section>
    <section id="aboutme" class="container-fluid">
        <div class="section-title text-left">
            ABOUT ME
        </div>
        <div class="ml-4">
            <h1>Biodata</h1>
            <div class="details">
                <h4>FULLNAME</h4>
                <h5>Muhammad Haikal Ubaidillah Susanto</h5>
                <br>
                <h4>NPM</h4>
                <h5>1906350805</h5>
                <br>
                <h4>YEAR ENTRY</h4>
                <h5>2019</h5>
                <br>
                <h4>UNIVERSITY</h4>
                <h5>University Of Indonesia</h5>
                <br>
            </div>
        </div>
        <div class="ml-4">
            <h1>Short Description</h1>
            <div class = "text-justify mr-5 ml-5">
                <h4>I'm a sophomore <b>Computer Science</b> student in <b>University of Indonesia</b>. I like to do things in order, one at a time. 
                    I do like<b> playing games</b>, especially when it's a <b>strategy games</b>, but i dont like chess. 
                    In my spare time, i usually read book, whatever it is as long it is not prohibited by law. 
                    I have a <b>great passion in data science and machine learning</b> because i expect anytime soon that AI will do great things to support humans live.</h4>
                    <br>
                    <br>
            </div>
        </div>

    </section>
    <section id="education" class="container-fluid">
        <div class="section-title mx-auto text-left">
            EDUCATION
        </div>
        <div class="row justify-content-center mb-3">
            <div class="col-sm-5 text-center">
                <img class="school" src="{% static 'logo_ui.png'%}" alt="">
            </div>
            <div class="col-sm-5 details">
                <h4>
                    UNIVERSITAS INDONESIA
                </h4>
                <h5>
                    2019-Now
                </h5>
            </div>
        </div>
        <div class="row justify-content-center mb-3">
            <div class="col-sm-5 text-center"">
                <img class="school" src="{% static 'logo_sma.png'%}" alt="">
            </div>
            <div class="col-sm-5 details">
                <h4>
                    SMAN 68 JAKARTA
                </h4>
                <h5>
                    2016-2019
                </h5>
            </div>
        </div>
        <div class="row justify-content-center mb-3">
            <div class="col-sm-5 text-center"">
                <img class="school" src="{% static 'logo_smp.jpg'%}" alt="">
            </div>
            <div class="col-sm-5 details">
                <h4>
                    SMPN 216 JAKARTA
                </h4>
                <h5>
                    2013-2016
                </h5>
            </div>
        </div>
        <br>
        <br>
    </section>
    <section id="contact" class="container-fluid">
        <div class="section-title mx-auto text-left">
            CONTACT ME AT
        </div>
        <div class="d-flex justify-content-center align-items-center flex-row">
            <div class="">
                <a href="mailto:muhammad.haikal91@ui.ac.id" target="_blank"><img class="logo_gmail" src="{% static 'logo_gmail.png' %}" alt=""></a>
            </div>
            <div class="">
                <a href="https://www.instagram.com/haikalsusanto/" target="_blank"><img class="logo_ig" src="{% static 'logo_instagram.png' %}" alt=""></i></a>
            </div>
            <div class="">
                <a href="https://line.me/R/ti/p/sabertrone" target="_blank"><img class="logo" src="{% static 'logo_line.png' %}" alt=""></a>
            </div>
        </div>
    </section>
</main>
{% endblock %}