{% extends 'base.html'%}

{% load static %}
{% block title %}
Secret Playlist
{% endblock %}

{% block content %}
<section id="secret" class="container-fluid">
    <div class="section-title text-left">
        Here Is My Secret Playlist
    </div>
    <div class="ml-4">
        <h1>When You Want to Thrive</h1>
        <div class="text-center">
            <iframe src="https://open.spotify.com/embed/playlist/1rOGfeIRY3cGzkHIxhULwO" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
        </div>
    </div>
    <br>
    <br>
    <br>
    <div class="ml-4">
        <h1>When You Feel Nonsense</h1>
        <div class="text-center">
            <iframe src="https://open.spotify.com/embed/playlist/6SOJ6d47hyLyGjfQ5L2vsv" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
        </div>
    </div>

</section>
{% endblock %}